
version: "3"
services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - "backend"

  backend:
    build: ./backend
    ports: 
      - "8000:8000"
    environment:
      - DATABASE_URL=mongodb://mongo:27017/MED
      - PORT=8000
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: